[include idex.cfg]
#[include mainsail.cfg]
[include fluidd.cfg]
[include obem.cfg]
[exclude_object]

[tmc2208 stepper_x]
uart_pin: PE6
run_current: 1
hold_current: 1
interpolate: True
stealthchop_threshold: 99999

#[tmc2208 stepper_y]
#uart_pin: PE3
#run_current: 1.5
#hold_current: 1.5
#interpolate: True
#stealthchop_threshold: 0

[tmc2208 stepper_z]
uart_pin: PB7 
run_current: 1.6
hold_current: 1.6
interpolate: True
stealthchop_threshold: 99999

[tmc2208 stepper_z1]
uart_pin: PD4
interpolate: True
run_current: 1.6
hold_current: 1.6
stealthchop_threshold: 99999

[tmc2208 extruder]
uart_pin: PB3
run_current: 0.8
hold_current: 0.8
interpolate: True
stealthchop_threshold: 0

#[stepper_x]
#step_pin:PC14
#dir_pin:!PC13
#enable_pin:!PC15
#microsteps: 32
#rotation_distance: 40
#full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
#endstop_pin:PA14
#position_min: -80
#position_endstop: -80
#position_max: 500
#homing_speed: 80
#homing_retract_dist:3
#homing_retract_speed:20
#second_homing_speed:3
#homing_positive_dir:true
#step_pulse_duration:0.000008

[stepper_y]
step_pin:!PE5
dir_pin:!PE4
enable_pin:!PD14
microsteps:32
rotation_distance:45#19.757#7.950#11.84#9#8# 7.942
gear_ratio: 3:4
#gear_ratio: 1.333:1
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:PA15
position_min: 0
position_endstop: 500
position_max: 500
homing_speed: 60
homing_retract_dist:10
homing_retract_speed:20
second_homing_speed:3
homing_positive_dir: true
#step_pulse_duration:0.000008

[stepper_z]
step_pin:PE1
dir_pin:PE0
enable_pin:!PE2
microsteps: 32
rotation_distance: 5
full_steps_per_rotation: 200
endstop_pin:probe: z_virtual_endstop#PB15 #probe: z_virtual_endstop ## PB12 for Z-max; endstop have'!' is NO

##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop:-5
position_max: 525
position_min:-10
homing_positive_dir: false
homing_speed: 8
homing_retract_dist:3
homing_retract_speed:3
second_homing_speed:2

[stepper_z1]
step_pin:PD6
dir_pin:PD5
enable_pin:!PD7
microsteps:16
rotation_distance: 5
full_steps_per_rotation: 200

#[extruder]
#step_pin:PB5
#dir_pin:!PB4
#enable_pin:!PB6
#microsteps:32
#rotation_distance:7.864#7.710#21.58
#rotation_distance: 25.12	#Bondtech 5mm Drive Gears
#gear_ratio: 3:1
#full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#min_temp: 0
#max_temp: 420
#heater_pin: PB1
#sensor_type: T-D500
#sensor_pin: PC1
#pullup_resistor: 4700
#control: pid
#pid_kp= 25.194
#pid_ki= 1.272
#pid_kd= 124.713
#min_extrude_temp: 100
#pressure_advance: 0.02
#pressure_advance_smooth_time: 0.010
#max_extrude_only_distance: 100

[heater_bed]
heater_pin: PD9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
max_power: 1.0
#control = pid
#pid_kp = 71.039
#pid_ki = 2.223
#pid_kd = 567.421
min_temp: 0
max_temp: 120

#fan for printed model FAN0
[fan]
pin: PA0

#[fan]
#pin: PA3

#[fan extruder1]
#pin: PA0

[mcu]
# The hardware use USART1 PA10/PA9 connect to RK3328
#serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_2C003B001250314335393520-if00
serial: /dev/ttyS0
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: hybrid_corexy
max_velocity: 300
max_accel: 1500
max_accel_to_decel: 1500
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity: 2.0

[bltouch]
sensor_pin:^PC5#^PC5 #^PD11
control_pin: PA8
pin_move_time: 0.680
#stow_on_each_sample: True
#probe_with_touch_mode: False
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: True
#set_output_mode:
x_offset:-48.823
y_offset:0
#z_offset:0
speed: 3
lift_speed:2
samples: 2
samples_result: average
sample_retract_dist: 5.0
samples_tolerance: 0.5
samples_tolerance_retries: 1

[safe_z_home]
home_xy_position: 250, 250 # Change coordinates to the center of your print bed
speed: 60
z_hop: 10               # Move up 10mm
z_hop_speed: 2

[bed_mesh]
speed: 30
horizontal_move_z: 5
mesh_min: 35, 35
mesh_max: 400, 400
probe_count: 6, 6
mesh_pps: 4, 4

[bed_screws]
screw1: 15, 15
screw2: 480, 15
screw3: 480, 480
screw4: 15, 480

[screws_tilt_adjust]
screw1:63,480
#   The (X, Y) coordinate of the first bed leveling screw. This is a
#   position to command the nozzle to so that the probe is directly
#   above the bed screw (or as close as possible while still being
#   above the bed). This is the base screw used in calculations. This
#   parameter must be provided.
screw1_name: FL
#   An arbitrary name for the given screw. This name is displayed when
#   the helper script runs. The default is to use a name based upon
#   the screw XY location.
screw2:480,480
screw2_name:FR
screw3:480,15
screw3_name:BR
screw4:63,15
screw4_name:BL
#...
#   Additional bed leveling screws. At least two screws must be
#   defined.
speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
screw_thread: CW-M5
#   The type of screw used for bed leveling, M3, M4, or M5, and the
#   rotation direction of the knob that is used to level the bed.
#   Accepted values: CW-M3, CCW-M3, CW-M4, CCW-M4, CW-M5, CCW-M5.
#   Default value is CW-M3 which most printers use. A clockwise
#   rotation of the knob decreases the gap between the nozzle and the
#   bed. Conversely, a counter-clockwise rotation increases the gap.


[filament_switch_sensor filament_sensor_L]
switch_pin: PE14
runout_gcode: PAUSE
#   BEEP P=1500
   
[filament_switch_sensor filament_sensor_R]
switch_pin: PE13
runout_gcode: PAUSE
#   BEEP P=1500

#[display]
#lcd_type: uc1701
#cs_pin: EXP1_3
#a0_pin: EXP1_4
#rst_pin: EXP1_5
#contrast: 63
#encoder_pins: ^EXP2_5, ^EXP2_3
#click_pin: ^!EXP1_2
## Some micro-controller boards may require an spi bus to be specified:
#spi_bus: spi
## Alternatively, some micro-controller boards may work with software spi:
#spi_software_miso_pin: EXP2_1
#spi_software_mosi_pin: EXP2_6
#spi_software_sclk_pin: EXP2_2

[virtual_sdcard]
path:/home/mks/uploads
path: ~/printer_data/gcodes

#[homing_override]
#gcode:
#    G1 z5
#    G28 X Y
#   G28 Z
#    G1 z5
#axes:xyz
#set_position_x: -40
#set_position_y: 500
#set_position_z: 0

##gantry_corners:
#	-58,-7
#    308,318
###	Probe points
#points:
#	10,10
#	10,200
#	220,200
#	220,10
#speed: 20
#horizontal_move_z: 10
#retries: 1
#retry_tolerance: 0.05
#max_adjust: 30

##[probe]
#pin:!PB15
#x_offset:-48.823
#y_offset:-0.647
#z_offset:10
#speed: 10.0
#samples: 2
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.05
#samples_tolerance_retries: 1

[output_pin POWER_OFF]
pin: PE11
#   The pin to configure as an output. This parameter must be
#   provided.
#static_value:
#   If this is set, then the pin is assigned to this value at startup
#   and the pin can not be changed during runtime. A static pin uses
#   slightly less ram in the micro-controller. The default is to use
#   runtime configuration of pins.
value: 1
#   The value to initially set the pin to during MCU configuration.
#   The default is 0 (for low voltage).
shutdown_value: 0

[gcode_macro _POWER_OFF_PRINTER]
gcode:
  {action_call_remote_method(
    "set_device_power", device="printer", state="off"
  )}

[gcode_macro _POWER_ON_HEATERS]
gcode:
  {action_call_remote_method(
    "set_device_power", device="printer", state="on"
  )}

[idle_timeout]
#gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 172800
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.854
#*# pid_ki = 2.142
#*# pid_kd = 506.256
#*#
#*# [obem]
#*# control = pid
#*# pid_kp = 21.573
#*# pid_ki = 1.262
#*# pid_kd = 92.224
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.276563, 0.004687, -0.027344, 0.194922, 0.217578, 0.156250
#*# 	-0.424219, -0.120703, -0.035547, 0.171484, 0.164453, 0.019141
#*# 	-0.520703, -0.185938, -0.096484, 0.118750, 0.134766, -0.037500
#*# 	-0.473828, -0.101172, -0.014844, 0.170703, 0.151953, -0.026172
#*# 	-0.449219, -0.033203, 0.064844, 0.261719, 0.213281, 0.047266
#*# 	-0.251953, 0.169141, 0.284766, 0.481641, 0.463672, 0.324219
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 34.99699999999999
#*# max_x = 400.007
#*# min_y = 35.0
#*# max_y = 400.0
#*#
#*# [bltouch]
#*# z_offset = 1.180
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.407
#*# pid_ki = 1.738
#*# pid_kd = 170.316
