[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]

[display_status]

[gcode_macro SHAPER]
gcode: SHAPER_CALIBRATE

[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
description: Пауза с откатом 1мм, безопасным Z-hop, парковкой X10 Y200 и удержанием хотэнда 30 минут
variable_paused: False
gcode:
        # Устанавливаем флаг паузы
        SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=paused VALUE=True
        # Сохраняем текущее состояние
        SAVE_GCODE_STATE NAME=PAUSE_STATE
        # Базовая пауза Klipper
        PAUSE_BASE
        # Безопасный Z-hop
        {% set z_hop = 5.0 %}
        {% set max_z = printer.toolhead.axis_maximum.z|float %}
        {% set cur_z = printer.toolhead.position.z|float %}
        {% set safe_z = z_hop if cur_z + z_hop <= max_z else max_z - cur_z %}
        # Относительные координаты
        G91
        G1 E-1.0 F1800                  # Откат 1мм
        {% if safe_z > 0 %}
            G1 Z{safe_z} F900           # Поднимаем Z безопасно
        {% endif %}
        G90                             # Абсолютные координаты
        # Парковка головы
        G1 X10 Y200 F3000

[gcode_macro RESUME]
rename_existing: RESUME_BASE
description: Продолжение печати после паузы
gcode:
        # Снимаем флаг паузы
        SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=paused VALUE=False
        # Возвращаем откат 1мм
        G91
        G1 E1.0 F1800
        G90
        # Восстанавливаем сохраненное состояние
        RESTORE_GCODE_STATE NAME=PAUSE_STATE MOVE=1
        # Продолжение печати Klipper
        RESUME_BASE

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
description: Отмена печати без отключения стола с защитой от повторного вызова
variable_canceled: False
gcode:
        # Устанавливаем флаг отмены
        SET_GCODE_VARIABLE MACRO=CANCEL_PRINT VARIABLE=canceled VALUE=True
        # Безопасный Z-hop
        {% set z_hop = 5.0 %}
        {% set max_z = printer.toolhead.axis_maximum.z|float %}
        {% set cur_z = printer.toolhead.position.z|float %}
        {% set safe_z = z_hop if cur_z + z_hop <= max_z else max_z - cur_z %}
        # Базовая отмена печати Klipper
        CANCEL_PRINT_BASE
        # Относительные координаты
        G91
        G1 E-1.0 F1800                  # Откат 1мм
        {% if safe_z > 0 %}
            G1 Z{safe_z} F900           # Поднимаем Z безопасно
        {% endif %}
        G90                             # Абсолютные координаты
        # Парковка головы
        G1 X10 Y200 F3000
        # Выключаем обдув
        M106 S0

[gcode_macro CANCEL_PRINT_COOLDOWN]
description: Отмена печати с полным охлаждением
gcode:
    CANCEL_PRINT
    M104 S0                          # Хотэнд
    M140 S0                          # Стол
    M106 S0                          # Обдув

[gcode_macro END_PRINT]
description: Завершение печати с безопасной парковкой и отключением оборудования
gcode:
    # Безопасный Z-hop
    {% set z_hop = 5.0 %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set cur_z = printer.toolhead.position.z|float %}
    {% set safe_z = z_hop if cur_z + z_hop <= max_z else max_z - cur_z %}
    G91
    G1 E-1.0 F1800                  # Откат 1мм
    {% if safe_z > 0 %}
        G1 Z{safe_z} F900           # Поднимаем Z
    {% endif %}
    G90                             # Абсолютные координаты
    # Парковка головы
    G1 X10 Y200 F3000
    # Выключение оборудования
    M106 S0                          # Обдув
    M104 S0                          # Хотэнд
    M140 S0                          # Стол
    M84                               # Отключаем моторы