[mcu 1]
#serial: /dev/ttyUSB1
serial: /dev/serial/by-path/pci-0000:00:1d.1-usb-0:2:1.0-port0
restart_method: command

[output_pin POWER_OFF]
pin: 1:PH5
#   The pin to configure as an output. This parameter must be
#   provided.
#static_value:
#   If this is set, then the pin is assigned to this value at startup
#   and the pin can not be changed during runtime. A static pin uses
#   slightly less ram in the micro-controller. The default is to use
#   runtime configuration of pins.
value: 1
#   The value to initially set the pin to during MCU configuration.
#   The default is 0 (for low voltage).
shutdown_value: 0

[gcode_macro POWER_OFF_PRINTER]
gcode:
  {action_call_remote_method(
    "set_device_power", device="printer", state="off"
  )}

[gcode_macro POWER_ON_HEATERS]
gcode:
  {action_call_remote_method(
    "set_device_power", device="printer", state="on"
  )}

[homing_override]
gcode:
    G1 z5
    G28 X Y
    G28 Z
    G1 z5
axes:z
#set_position_x:
#set_position_y:
set_position_z: 0

[gcode_macro LOAD_FILAMENT]
variable_load_distance:  50
variable_purge_distance:  20
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    G1 E{load_distance} F{max_velocity} # fast-load
    G1 E{purge_distance} F{speed} # purge
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance: 50
variable_purge_distance:  20
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E{purge_distance} F{speed} # purge
    G1 E-{unload_distance} F{max_velocity} # fast-unload
    RESTORE_GCODE_STATE NAME=unload_state
